body{
    background:linear-gradient(90deg, rgba(243, 155, 198) 0%, rgba(65, 42, 55) 59%);
}

.header{
    display : flex;
    justify-content: center;

    padding-bottom: 40px;
}

.quit {
    text-decoration: none;
    font-size: 18px;
    color: #FFFFFF;
}

.quit:hover{
    text-decoration: underline;
    color: #FFFFFF;
}

.wrapper{
    display : flex;
    justify-content: center;

    padding-bottom: 40px;
}

.slc_user, .slc_power{
    background: none;
    color: #FFFFFF;
    border: 1px solid;

    width: 830px;
    height: 32px;
}
.slc_power{
    width: 240px;
}

.slc_user option, .slc_power option {
   color: black;
}


.btn_action{

    display: inline-block;
}

.btn_edit{

    width: 410px;
    height: 60px;

    border: 2px solid #ebbab3;
    border-radius: 5px;
    background: #ebbab3;
    transition: 0.4s;
    color: white;


    margin: 10px 10px 10px 0px;

}

.btn_delete{

    width: 410px;
    height: 60px;

    border: 2px solid #ef2d77;
    border-radius: 5px;
    background: #ef2d77;
    transition: 0.4s;
    color: white;

    margin: 10px 10px 10px 0px;
}

.btn_power{

    width: 230px;
    height: 60px;

    border: 2px solid #f957f4;
    border-radius: 5px;
    background: #f957f4;
    transition: 0.4s;
    color: white;

    margin: 10px 10px 10px 0px;

}

.btn_edit:hover, .btn_delete:hover,.btn_power:hover {
    background: none;
}

.num_power{
    color: #FFFFFF;
}

.webform__form-elem {
    background: transparent;
    border: 1px solid rgba(256,256,256,.3);

    line-height: 1.2;
    font-weight: 500;
    padding: 26px 24px;
    color: #fff;

    font-size: 14px;
    width: 480px;
    height: 54px;
    border-radius: 5px;
    box-sizing: border-box;
    padding-left: 24px;

    margin-bottom: 8px;
    transition: 0.4s;
    margin-left: auto;
}

.webform__form-elem::placeholder {
    color: white;
}

#comment {
    height: 128px;
    position: relative;
    margin-bottom: 12px;
    padding-bottom: 65px;
}

.date_of_birth, .gender, .limbs, .capabilities{
    padding-top: 20px ;
    margin-left: auto;
}
.gender, .limbs{
    color: #FFFFFF;
}
.capabilities{
    padding-bottom: 20px;
}

.webform__form-btn {
    text-transform: uppercase;
    color: white;
    width: 480px;
    height: 60px;
    border: 2px solid #ef2d77;
    border-radius: 5px;
    background: #ef2d77;
    transition: 0.4s;
    font-size: 12px;
}

.webform__form-btn:hover {
    background: none;
}

.btn_cencel{
    margin-top: 10px;

    width: 480px;
    height: 60px;

    border: 2px solid #f957f4;
    border-radius: 5px;
    background: #f957f4;
    transition: 0.4s;
    color: white;


}

.btn_cencel:hover{
    background: none;
}

.cencel{
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 12px;
}

.cencel:hover{
    text-decoration: none;
    color: #FFFFFF;
}